{% extends 'base.html' %}
{% block content %}
<div class="header">
    <div class="header-right">
        <ul class="menu">
            {% if request.user.is_authenticated %}
            <li class="menu-item">
                {{ user.get_username }}
            </li>
            <li class="menu-item">
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated == False %}
            <li class="menu-item">
                <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}

        </ul>
    </div>
</div>
<h1>
    Items
</h1>
<div class="products">
    <div class="products-item">
        <div class="product-fields">
            <div class="product-field">
                {% for obj in object_list %}
                <div class="product-field-name">
                    {{obj.name}}
                    <span>
                <button class="product-field-description">
                    <a href="{% url 'item-detail' obj.id %}"> Buy </a>
                </button>
                    </span>
                </div>
                <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}