{% extends 'base.html' %}
{% block content %}
<h1>
    Items
</h1>
<div class="products">
    <div class="products-item">
        <div class="product-fields">
            <div class="product-field">
                {% for obj in object_list %}
                <div class="product-field-name">
                    {{obj.name}}
                    <span>
                <button class="product-field-description">
                    <a href="{% url 'item-detail' obj.id %}"> Buy </a>
                </button>
                    </span>
                </div>
                <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}