{% extends 'base.html' %}
{% block content %}
<div class="header">
    <div class="header-right">
        <ul class="menu">
            <li class="menu-item">
                {{ user.get_username }}
            </li>
            <li class="menu-item">
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</div>
<h1>
    Sales
</h1>
<div class="products">
    <div class="products-item">
        <div class="product-fields">
            <div class="product-field">
                {% for obj in object_list %}
                <div class="product-field-name">
                    {{obj.item.name}}
                    <span class="product-field-description">
                        {{ obj.created_at }}
                    </span>
                    <span class="product-field-name">
                        {{obj.employee.fullname}}
                    </span>
                    <span>
                        {{obj.total_price}}
                    </span>
                </div>
                <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}